<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.mall.mapper.BoardMapper">

	<insert id="boardRegi">
		insert into board (board_num, board_title, user_id, board_content, board_regi) 
		values (BNO.nextval, #{board_title}, #{user_id}, #{board_content}, sysdate)
	</insert>

	<select id="list" resultType="com.mall.model.BoardVO">
		select board_num, board_regi, board_title , board_content , user_id 
		from board order by board_num desc
	</select>

  </mapper>